#grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    flex: 0 0 auto;
}

#outer {
    display: flex;
    flex-flow: row;

}

#btn {
    flex: 0 1 auto;
    width: 100px;
    height: 50px;
    margin: 100px 50px;
}